page-project {
   .project-txt{
        align-content: center;
        font-family: Alice-Regular;
        color:#1948ad;       
        padding: 0 15px;
        font-size: 14px;
        line-height: 1.5;
       
   }

}
