page-contact {
    .con-header-card{
        text-align: center;
        
        font-size: 13px;
        color: #ffffff;
        background: #0e3681;




    }
    .card-img{
        align-content: left;
    }

    .prouduct-title{  
        font-size: 20px;
        color: #1948ad;
        font-family: AlfaSlabOnebold;
        // margin-top: 5.8rem;
    }
    .prouduct-txt{
        align-content: center;
        font-family: Alice-Regular;       
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color:#1948ad;


    }
}